// .card_image {
//   height: 400px;
// }
// .ant-card-cover {
//   height: 400px;
//   width: 500px;
// }
.post-card {
  margin: 10px 0px;
}

.slick-list {
  width: 600px;
  height: 600px;
}

.slick-prev {
  left: 0px;
  z-index: 2;
}
.slick-next {
  right: 0px;
}
